
<a [routerLink]="['/joke/create-joke']" class="btn btn-info">Add new Joke</a> 
<div *ngFor='let joke of jokes' class="panel panel-default small shadow">
	<div class="panel-heading">
		{{joke.title}}{{joke.id}}
		<div class="btn-group pull-right">
			<a [routerLink]="['/joke/update-joke',joke.id]" class="btn btn-primary btn-xs">
				<label class="label">Edit</label>
				<i class="glyphicon glyphicon-edit"></i>
				
			</a>
			<a (click)="delete(joke)" class="btn btn-danger btn-xs">
				<i class="glyphicon glyphicon-remove"></i>				
			</a>
		</div>
	</div>
	<div class="panel-body">
		{{joke.content}}
	</div>
	<div class="panel-footer">
		<div class="btn-group">
			<div (click)="like(joke)" class="btn btn-primary btn-xs">
				<label class="label">Like</label>
				<i class="glyphicon glyphicon-thumbs-up"></i>
				<label class="label">{{joke.like}}</label>
			</div>
			<div (click)="disLike(joke)" class="btn btn-danger btn-xs">
				<label class="label">dislike</label>
				<i class="glyphicon glyphicon-thumbs-down"></i>
				<label class="label">{{joke.disLike}}</label>
			</div>
		</div>
		<div class="btn-group pull-right">
			<div class="btn btn-info btn-xs">
				<label class="label">By</label>
				<i class="glyphicon glyphicon-user"></i>
				<label class="label">{{joke.by}}</label>
			</div>
			<div class="btn btn-danger btn-xs">
				<label class="label">Other</label>
				<i class="glyphicon glyphicon-list"></i>
			</div>
		</div>
	</div>
</div>