<!-- <div class="col-md-12">
	<a [routerLink]="['/joke/create-joke']" class="btn btn-info">Add new Joke</a> 
	[routerLink]="['/user/update-user',user.id]" 
</div> -->
<div class="col-md-12">
	<a [routerLink]="['/signup']" class="btn btn-info">Add User</a> 	 
</div>
<h3>User List</h3>
<div *ngFor='let user of users' class=" panel panel-default small shadow">
	<div class="panel-heading">
		{{user.fullName}}{{user.id}}
		<div class="btn-group pull-right">
			<a [routerLink]="['/users/update-user',user.id]" class="btn btn-primary btn-xs">
				<label class="label">Edit</label>
				<i class="glyphicon glyphicon-edit"></i>				
			</a>
			<a (click)="delete(user)" class="btn btn-danger btn-xs">
				<i class="glyphicon glyphicon-remove"></i>				
			</a>
		</div>
	</div>
	<div class="panel-body">
		Name:{{user.fullName}}<br>
		Email:{{user.email}}<br>
	</div>
	
</div>
