<div class="col-md-6">
	<joke-list></joke-list>
</div>
<div class="col-md-6">
	
  <h3>Dynamic Tabs</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#latest">Latest</a></li>
    <li><a data-toggle="tab" href="#popular">Menu 1</a></li>
    
  </ul>

  <div class="tab-content">
    <div id="latest" class="tab-pane fade in active">
      <h3>Latest</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <div id="popular" class="tab-pane fade">
      <h3>Popular</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
   
  </div>

</div>